*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.max-width{
  max-width: 1300px;
}


/* navbar */

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.brand{
  font-size: 2.5rem;
  margin: 0 1rem;
  padding: 2rem; 
}
.brand-logo{
  text-decoration: none;
  color: #ffffff;
  padding: 1.2rem;
}

.fa-location-arrow{
  padding: 0 0.2rem;
  font-size: 2rem;
}

.nav-item{
  text-decoration: none;
  color: #ffeea1;
  padding: 10px 20px;
  font-size: 1.2rem;
  margin: 0;
}

.nav-item:hover{
  background-color: rgb(99, 99, 99);
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
}


/* home */

.home{
  background-image: linear-gradient(120deg, rgb(56, 56, 56), rgba(0, 0, 0, 0.5)), url('/src/images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;

}

.home h1{
  margin: 10rem 0;
  color: #ffeea1;
  display: flex;
  align-items: center;
  justify-content: center;
}